@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Montserrat', sans-serif;

    background: #800080;
    background: -webkit-linear-gradient(to left, #ffc0cb, #800080);
    background: linear-gradient(to left, #ffc0cb, #800080);
}

.fondo-opacidad {
    opacity: 0.5;
}